.text-to-middle {
  text-align: center;
}
.text-to-right {
  text-align: right;
}
#content {
  max-width: 800px;
  min-width: 320px;
}
#search {
  padding-top: 30px;
  max-width: 800px;
  min-width: 200px;
}
.connect-to-list {
  margin-bottom: 0;
  position: relative;
  top: 2px;
}
