<div class="container-fluid">
    <div class="panel panel-default connect-to-list">
        <div class="panel-body">

            <div class="pull-left">
                <button type="button" data-action="back" class="btn btn-primary issues-back-btn"> <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back</button>
            </div>

            <div class="pull-right text-to-right">

                <div class="btn-group issues-per-page-btns" role="group">
                    <button type="button" data-action="change-on-page-count" data-count="30" class="btn btn-default">30</button>
                    <button type="button" data-action="change-on-page-count" data-count="50" class="btn btn-default">50</button>
                    <button type="button" data-action="change-on-page-count" data-count="100" class="btn btn-default">100</button>
                </div>

            </div>


        </div>
    </div>
</div>